.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.login-form{
    width:100%;
    max-width: 330px;
    padding: 15px;
    margin: auto;
    height: 100%;
}

.img-login{
    margin-top: -20px;
}

.container, .container-fluid {
  margin-top: 20px;
}

.titulo-filtro{
    margin-bottom: -1rem;
}

.select{
    width: 100%;
    height: calc(2.5rem + 1px);
    border-radius: .25rem;
}

.multi-select{
    width: 100%;
    height: calc(5rem + 1px);
    border-radius: .25rem;
}

.input-big-readOnly{
    height: calc(7rem + 2px);
    width: 100%;
    background-color: #e9ecef;
}

input[type=checkbox]{
    position: relative;
    left: 20px;
    width: 20px;
    height: 15px;
}

.error{
    margin-left: 5px;
    font-size: 13px;
    color: red;
}

.error-login{
    margin-left: 25%;
    font-size: 20px;
    color: red;
    font-weight: bolder;
}

#page-numbers {
    list-style: none;
    display: flex;
    padding-left: 0;
    margin-left: 0;
}

h2.headertekst {
    text-align: center;
}

.button-allign{
    position:absolute;
    left:42%;
}

.button-allign2{
    position:absolute;
    left:50%;
}

.col-centered{
    float: none;
    margin: 0 auto;
}

#page-numbers > li {
    margin-right: 0.3em;
    color: #000000;
    user-select: none;
    cursor: pointer;

}

.react-confirm-alert-body {
    width: 450px;
}

.input-big{
    height: calc(7rem + 2px);
    width: 100%;
}

input[type=checkbox]{
    position: relative;
    left: 20px;
    width: 20px;
    height: 15px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
